body{
	width: 100%;
}
.table-box{
	margin: 50px auto;
}
.table-box .container{
	width: 50%;
}

.tr-active{
	background-color: #cee2f7;
}
.td-hover{
	background-color: #e5f0fb;
}
.editinput{
	width: 60px;
}
.table td.input{}
.click{
	background-color: #cee2f7;
}
